body{
    color: white;
    margin: 3%;
    padding: 0%;
    background-color: #333;
    font-size: x-large;
    font-weight: 850;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-size: 100%;
}